body{
    padding: 0;
    margin: 0;
}
.container {
display: grid;
grid-template-columns:0.2fr 1fr;
grid-template-rows: 0.2fr 3fr;
grid-template-areas: 
"Navbar Navbar"
"Sidebar Maincontent";
height: 100vh
}
.Navbar {
    background-color:beige;
    grid-area: Navbar;
    height:80px;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.Sidebar {
    display: flex;
    background-color:wheat;
    grid-area: Sidebar;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.Maincontent {
    background-color:bisque;
    grid-area: Maincontent;
}
.Sidebar ul {
    list-style: none;
    grid-area: Sidebar;
    height: 100%;
     width: 100%;            
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 0;
    margin: 0;
}

.Sidebar a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    transition:all 0.2s;
}
.Sidebar a:hover{
    color:rgb(198, 196, 196)
}
.logo{
    height:100%;
    width:auto;
    display:block;
}
.Student ul{
    list-style: none;
    display: flex;
    height:100%;
    width:60%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}