 <html>
        <body>
    <h1>Welcome to CSIT Hub</h1>
    <p>Your perfect and personal student productivity platform.<br>

       Manage your tasks, notes, subjects, and study sessions in one place. 
       </p>
       <a href="/about"><button>About Us</button></a>
       <h2>Student information</h2>
       <p id="sname"></p>
       <p id="scollege"></p>
       <p id="scourse"></p>
       <script>
        async function getstudent(){
       const response= await fetch('/api/student')
       const info= await response.json()
       const nme=document.getElementById("sname")
       const clg=document.getElementById("scollege")
       const crs=document.getElementById("scourse")
       nme.textContent= info.name
       clg.textContent= info.college
       crs.textContent= info.course
    }
    getstudent()
       </script>
        </body>
</html>