 <html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   </head>
        <body>
    <div class="container">
      <header class="Navbar">
         <img src="{{ url_for('static', filename='CSITHublogo.png') }}" class="logo" height:80px>
         <nav class="Student">
            <ul>
               <li>Student</li>
            </ul>
         </nav>
      </header>
      <aside class="Sidebar">
         <a href="#" class="sb">Sidebar</a>
         <ul>
            <li><a href="#" class="dashboard">Dashboard</a></li>
            <li><a href="/tasks" class="tasks">Tasks</a></li>
            <li><a href="#" class="notes">Notes</a></li>
            <li><a href="#" class="subjects">Subjects</a></li>
            <li><a href="#" class="dashboard">Schedule</a></li>
         </ul>
      </aside>
      <main class="Maincontent">
         <h2>Welcome back!</h2>
         <p id="sname"></p>
         <p id="scollege"></p>
         <p id="scourse"></p> 
         <h3>Here's youre study overview.</h3>
         <section class="cards">
            <div class="card">
            <h3 align=center>Tasks</h3>
            <p align=center>1</p>
         </div>
            <div class="card">
            <h3 align=center>Notes</h3>
            <p align=center>2</p>
         </div>
         <div class="card">
            <h3 align=center>Subjects</h3>
            <p align=center>6</p>
         </div>
         </section>
         <h4>Recent Tasks</h4>
         <div class="Recent"><p>Complete DB assignment</p><br>
            <p>Study</p><br>
            <p>Read networking chapter</p>
         </div>
      </div>
      </main>
    </div>
       <script src="{{ url_for('static', filename='scripts.js') }}"></script>
        </body>
</html>