{% extends "layout.html" %}
{% block content %}
         <h2>Welcome back!</h2>
         <p id="sname"></p>
         <p id="scollege"></p>
         <p id="scourse"></p> 
         <h3>Here's youre study overview.</h3>
       
         <section class="cards">
            <div class="card">
            <h3 align=center>Tasks</h3>
            <p align=center>1</p>
         </div>
            <div class="card">
            <h3 align=center>Notes</h3>
            <p align=center>2</p>
         </div>
         <div class="card">
            <h3 align=center>Subjects</h3>
            <p align=center>6</p>
         </div>
         </section>
         <h4>Recent Tasks</h4>
         <div class="Recent"><p><input type="checkbox"> DB assignment</p><br>
            <p><input type="checkbox">Study</p><br>
            <p><input type="checkbox"> Read networking chapter</p>
         </div>
      </main>
{% endblock %}